#cont_exp_login{
	width:470px;
	height:150px;
	display:table;
	margin-left:auto;
	margin-right:auto; 
	position:relative; 
	margin-top:400px;
}
.cont_exp_login_email{
	width:192px; 
	height:28px; 
	float:left; 
	display:inline; 
	padding:61px 0px 10px 96px;
}
.cont_exp_login_email_box{
	width:192px;
	height:24px;
	border:1px solid #cecece;
	font-size:13px;
	/* background-image:url(../img/login/text_email.png); 
	background-position:7px 8px; 
	background-repeat:no-repeat; */ 
	color:#000000;  
	padding-left:5px;
}
.cont_exp_login_btn{
	width:96px;
	height:28px;
	float:right; 
	padding:61px 70px 0px 0px;
}
.cont_exp_login_pass{
	width:192px;
	height:28px;
	padding:0px 0px 0px 96px;
}
.cont_exp_login_pass_box{
	width:192px; 
	height:24px; border:1px solid #cecece; 
	margin-top:1px; 
	font-size:13px;
	/* background-image:url(../img/login/text_pass.png); 
	background-position:7px 8px; 
	background-repeat:no-repeat; */ 
	color:#000000;  
	padding-left:5px;
}
.cont_exp_login_as{
	width:96px;
	height:28px;
	float:right;
	padding:11px 70px 0px 0px;
}