div,ul{margin:0;padding:0;font-family:굴림;font-size:12px;color:#000000}
#boardList{width:53.2%;border:0px solid #000000;position:absolute}
#tblCard{width:40.3%;height:98.3%;border:0px solid #000000;position:absolute;float:left;margin:5px 0px 0px 5px}
#inForm{width:54%;border:0px solid #000000;position:absolut; float:right;margin:15px 16px 0px 0px}
