<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.test.mapper.CodeHelperMapper">

	<select id="getCustTData" parameterType="String" resultType="Cust">
		SELECT * FROM ACCCustT WHERE CustCd = #{custCd};
	</select>

</mapper>    